/*contactUs*/
#contactus {
  height: calc(100vh - 200px - 3em - 200px);
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

#submit-button-div{
  display: flex;
  justify-content: center;
  align-items:center;
}

#contactus-submit-button{
    flex: 1;
}

#contactus-form textarea{
  resize: none;
}

@media (min-width:800px) {
  #contactus-info{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
  }

  #contactus-form-info{
    max-width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contactus-form{
    width: 400px;
  }

  #contactus-form div{
    width: 100%;
  }

  #contactus-form label{
    text-align: left;
  }
}
