/*footer*/
#footer-box {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  text-align: center;
}

.footer-small-box{
  text-align: center;
  grid-column: 1fr;
}

.footer-small-box-itembox{
  display: grid;
  grid-template: repeat(2, 1fr) / auto;
}

.footer-small-box-itembox div{
  padding-left: 15px;
  margin-bottom: 10px;
}

#subscribe{
  grid-column: span 2;
}
