/*footer*/
#footer-box {
  height: 200px;
  text-align: center;
}

.footer-link a:link {
  text-decoration: none;
  color:black;
}

.footer-link a:visited {
  text-decoration: none;
}

.footer-link a:hover{
  text-decoration: none;
  color:red;
}
.footer-link a:active{
  text-decoration: none;
}

.footer-small-box{
  text-align: center;
  flex-basis: 20%;
}

.footer-small-box-itembox{
  display: grid;
  grid-template: repeat(2, 1fr) / auto;
}

.footer-small-box-itembox div{
  padding-left: 15px;
  margin-bottom: 10px;
}

#subscribe{
  flex-basis: 20%;
}

@media (min-width:900px) {
  #footer-box {
    display: flex;
    justify-content: center;
  }

  .footer-small-box{
    flex-basis: 16%;
  }

  #subscribe{
    flex-basis: 32%;
  }

  #email-subscribe {
    display: flex;
    justify-content: center;
  }

  #email-subscribe-textfield{
    max-width: 300px;
  }
}
