/*header*/
#header-box{
  display: flex;
  border-style: solid;
}

#header-box-intro{
  flex:4;
}

#header-box-user{
  flex:1;
}

#nav-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2em;
}

.nav-item {
  font-size: 1.75em;
  text-align: center;
  background-color: lightgrey;
  color:black;
}

.nav-item:hover {
  background-color: grey;
  color:white;
}
