/*header*/
#header-box{
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1em;
  grid-gap: 3px;
}

#header-box-intro{
  font-size: 1em;
  text-align: center;
  float: left;
}

#header-box-user{
  font-size: 1em;
  text-align: left;
  float: left;
}

#nav-box {
  border-style: dotted;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2em;
  grid-gap: 3px;
}

.nav-item {
  font-size: 1.75em;
  text-align: center;
  background-color: lightgrey;
  color:black;
}

.nav-item:hover {
  background-color: grey;
  color:white;
}
