/*header*/
#header-box{
  text-align: center;
}

@media (min-width: 900px){
  #nav-box{
    display: flex;
    justify-content: center;
  }

  #nav-box nav{
    flex-basis: 80%;
  }

  #header-box{
    display: flex;
    justify-content: center;
  }

  #header-box-intro{
    flex-basis: 50%;
  }

  #header-box-user{
    flex-basis: 30%;
  }
}
