/*body*/
#product-content{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#search-box{
  text-align: center;
}

#search-text-field{
  width: 40%;
}

#search-results{
  margin-top:30px;
  margin-bottom:30px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  justify-content: center;
}

.search-result-item{
  text-align: center;
}

.search-result-item img{
  width: 200px;
  height: 200px;
}
