/*login*/
#login-box{
  height: calc(100vh - 200px - 3em - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#login-form div{

}

#login-form input{
  text-align: center;
}

#login-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
