{{define "content"}}
  <div id="aboutus">
    <div>
      <h1>Our Timeline</h1>
      <br>
    </div>
    <div class="aboutus_timeline">
      <div class="aboutus_container aboutus_left">
        <div class="aboutus_content">
          <h2>Dec 2017</h2>
          <p>Our story begins!</p>
        </div>
      </div>
      <div class="aboutus_container aboutus_right">
        <div class="aboutus_content">
          <h2>Jan 2018</h2>
          <p>Our first product was born!</p>
        </div>
      </div>
      <div class="aboutus_container aboutus_left">
        <div class="aboutus_content">
          <h2>Mar 2018</h2>
          <p>Time to sell!</p>
        </div>
      </div>
    </div>
  </div>
{{end}}
