{{define "content"}}
  <div id="contactus">
    <div id="contactus-info">
      <div>
        <p><label>Contact us via Phone:</label> 213820xxxx</p>
        <p><label>Contact email:</label> wildviewinc@gmail.com</p>
      </div>
    </div>
    <div id="contactus-form-info">
      <form id="contactus-form" name="contactus-form">
        <div>
          <label>Name:</label>
          <input type="text" name="name" id="contactus-form-name" class="form-control" required>
        </div>
        <div>
          <label>Email:</label>
          <input type="email" name="email" id="contactus-form-email" class="form-control" required>
        </div>
        <div>
          <label>Phone #:</label>
          <input type="number" name="phone" id="contactus-form-phone" class="form-control">
        </div>
        <div>
          <label>Infomation:</label>
          <textarea class="form-control" name="content" id="contactus-textarea"></textarea>
        </div>
        <br>
        <div id="submit-button-div">
          <input type="button" id="contactus-submit-button" value="submit" class="btn btn-default" onclick="javascript:submitContactInfo()">
        </div>
      </form>
      {{if .Error}}
      <div>
        <br>
      </div>
      <div id="contact-error" class="alert alert-danger">
        <strong>Error!</strong> {{.Error}}
      </div>
      {{end}}
    </div>
  </div>
  <script>
    function verify(){
      if($('form[name="contactus-form"] input[name="name"]').val()==="" ||
          $('form[name="contactus-form"] input[name="email"]').val()==="" ||
          $('form[name="contactus-form"] input[name="content"]').val()===""){
            return false;
          }
      return true;
    }
    function submitContactInfo(){
      if(!verify()){
        alert("Not a valid input!");
        return;
      }
      $.ajax({
        url:"/contact/",
        method:"POST",
        data:{
          name:$('form[name="contactus-form"] input[name="name"]').val(),
          email:$('form[name="contactus-form"] input[name="email"]').val(),
          phone:$('form[name="contactus-form"] input[name="phone"]').val(),
          content:$('form[name="contactus-form"] input[name="content"]').val()
        },
        success:function parse(data){
          var parsed = JSON.parse(data);
          if(!parsed) return;
          alert(parsed[0].Error);
        }
      })
    }
  </script>
{{end}}
