{{define "footerHTML"}}
  <hr>
  <div id="footer-box">
    <div class="footer-small-box">
      <h5>CUSTOMER CARE</h5>
      <div class="footer-small-box-itembox">
        <div class="footer-link">FAQ</div>
        <div class="footer-link"><a href="/contact/">Contact Us</a></div>
      </div>
    </div>
    <div class="footer-small-box">
      <h5>ABOUT</h5>
      <div class="footer-small-box-itembox">
        <div class="footer-link"><a href="/about/">About Us</a></div>
      </div>
    </div>
    <div class="footer-small-box">
      <h5>SHOP ONLINE</h5>
      <div class="footer-small-box-itembox">
        <div class="footer-link">Children Clothes</div>
        <div class="footer-link">Tools</div>
      </div>
    </div>
    <div id="subscribe">
      <h4>Take $25 off your next order</h4>
      <p>Sign Up For Emails Today!
      <form id="email-subscribe">
        <input type="email" name="emailsub" required>
        <input type="submit" value="Go">
      </form>
      <p>&copy; 2018 Wildview Inc</p>
    </div>
  </div>

<!--
  <div id="react-container"></div>
  <script src="/rjs/base.js"></script>

-->
{{end}}
