{{define "headerHTML"}}
    <div id="header-box">
      <div id="header-box-intro">
        WildView Inc, Welcome to our offical website! Thanks for shopping!
      </div>
      <div id="header-box-user">
        {{if .}}
          Hi, <b> {{.}} </b> <a href="/logout/"> (Log out) </a>
        {{else}}
          <a href="/login/"> Log in </a>
        {{end}}
      </div>
    </div>
    <br style="clear:both">

    <div id="nav-box">
      <div id="nav-box-home" class="nav-item">
        <a href="/">Home</a>
      </div>
      <div id="nav-box-products" class="nav-item">
        <a href="/product/">Search</a>
      </div>
      <div id="nav-box-aboutus" class="nav-item">
        <a href="/about/">About</a>
      </div>
      <div id="nav-box-contactus" class="nav-item">
        <a href="/contact/">Contact</a>
      </div>
    </div>
    <br style="clear:both">
{{end}}
